OPENAI_API_KEY=
OPIK_API_KEY=
TAVILY_API_KEY=
OPENAI_URL=
OPIK_WORKSPACE=
OPIK_PROJECT_NAME=
MODEL_NAME=gpt-4o-mini
MODEL_TEMPERATURE=0.2
EMBEDDING_MODEL=text-embedding-3-large
REDIS_URL=redis://localhost:6379/0
REDIS_QUEUE_NAME=newsagent_jobs
REDIS_DLQ_NAME=newsagent_dlq
DATABASE_URL=mongodb://localhost:27017
MONGO_DB_NAME=newsagent
MONGO_DB_COLLECTION=vectorized_articles
MONGODB_BIO_COLLECTION=chatbot_bio
VECTOR_INDEX_NAME=newsagent_vector_index
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=us-east-1
S3_BUCKET_NAME=
S3_FOLDER_PREFIX=
BROWSERLESS_URL=http://localhost:3000
BROWSERLESS_TOKEN=
BROWSER_WS_ENDPOINT=ws://localhost:3000
SMTP_SERVER=smtp.gmail.com
SMTP_PORT=587
SMTP_EMAIL=
SMTP_PASSWORD=
MAIN_API_URL=http://localhost:8003
SCHEDULER_URL=http://localhost:8001
NEWSAGENT_API_KEY=
WEBHOOK_URL=http://localhost:8001/webhook/store-result
WEBHOOK_SECRET=
SUBMISSION_SOURCE_ID=newsagent_scheduled_source