beautifulsoup4
fastapi
langchain
langchain-community
langchain-core
langchain-openai
langchain-tavily
langchain-text-splitters
langgraph
langgraph-checkpoint
langgraph-prebuilt
langgraph-sdk
langserve
lxml
lxml-html-clean
newspaper4k
numpy
openai
opik
pydantic
pydantic-settings
pydantic_core
python-dotenv
requests
requests-html
SQLAlchemy
uvicorn